*{
   font-family: 'Times New Roman', Times, serif;
   box-sizing: border-box;
}
body{
    background-color: chartreuse;
}
nav ul{
    margin-top: 5px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: rgb(255, 47, 64);
    padding: 20px;
}
nav ul a{
    text-decoration: none;
    color:wheat;
}
button{
    color: rgb(9, 172, 49);
    width: 125px;
    margin-left: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-decoration: none;
    background-color:rgba(238, 157, 7, 0.89);
    color: black;
    height: 45px;
}
.bio{
    color: rgb(3, 0, 1);
    font-size: 20px;
}
button a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(201, 3, 3);
}
.bio h1{
    margin-top: 100px ;
}
.hero{
    display: flex;
}
.buttons{
    margin-left: 800px;
}
.Social-icon{
    font-size: 100px;
    margin-left: 115px;
}
.Social-icon a{
    text-decoration: none;
    color: rgb(247, 0, 255);
    padding: 50px;
}

    


    





